body{
    font-family: Anaheim;
    font-weight: 500;
    background-color: #f2f2f2;
    text-decoration: none;
}
.totalcount{
  font-size: 18px;
  font-weight: 600;
}
.container{
  max-width: 800px;
  /*border: 1px solid;*/
  background-color: #ffffff;
  box-shadow: 0px -1px 3px -2px;
}
.form-control{
    border-radius: 1px;
}
.btn{
    border-radius:1px;
}

.search-box{
  max-width: 510px;
  display: flex;
  /*margin: 0 auto;*/
  padding: 10px 0;
}
.search-box .form-control{
  max-width: 28em;
}
.open{
  font-size: 12px;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 4px;
  margin:  0 0 0 10px;
  background-color: #4dc91a;
}
.span-font-size{
  font-size: 18px;
}
